@page "/"
@using PA.Web.Admin.TmpData;


<PageTitle>Home</PageTitle>


@code{
	
	//[Inject]
	//public IInitRepository? InitRepository { get; set; }
	//protected override async Task OnInitializedAsync(){
	//	await InitRepository.SeedDB();
	//}
}


<h1>Hello, world!</h1>

Welcome to your new app.


