.stations {
    margin: var(--mb-1) 0;
    background: var(--black-2);
    color: #fff;
    border-radius: 8px;
    padding: var(--mb-0-5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.stations ::deep .col-title-text{
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin-right: 4px;
}

::deep .sort-indicator {
    background-color: #fff;
    padding: 8px;
    border-radius: 4px;
}