<nav class="top-nav-wrapper">
    <div class="nav-content">
        <div class="bread-crumb-wrap">

        </div>
        <div class="icon-wrap">
            <span class="material-symbols-sharp">
                search
            </span>
            <span class="material-symbols-sharp">
                apps
            </span>
            <span class="material-symbols-sharp">
                expand_content
            </span>
            <div class="notification">
                <span class="material-symbols-sharp">
                    notifications
                </span>
                <span class="notifications-count">1</span>
            </div>
            <div class="user">
                <div class="user-wrap">
                    <img src="@Url.Content("~/img/assets/img-user.jpg")" />
                </div>
                <span>James</span>
            </div>
            <span class="material-symbols-sharp">
                settings
            </span>
        </div>
    </div>
</nav>