@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,700;9..40,900&display=swap');
@import url('buttons.css');

:root {
    /*========== 
        Font and typography 
     ==========*/
    --body-font: 'DM Sans', sans-serif;
    --normal-font-size: 1rem; /* 16 px */
    /*========== 
        Colours
     ==========*/
    --pa-white: #FAF7F7;
    --pa-white-active: #E6E6E6;
    --pa-primary-colour: #A1D18E;
    --pa-primary-colour-active: #9EE6A6;
    --pa-primary-accent-dust: #CDCCC6;
    --pa-primary-accent-dust-active: #BABAB6;
    --black-1: #303030;
    --black-2: #141516;
    --input-background: #BDC3C7;
    --input-disabled: rgba(255, 205, 2, 0.4);
    --info-colour: #6093AC;
    --info-colour-hover: #537E94;
    --warning-colour: #C0392B;
    --warning-colour-hover: #9e291c;
    --error-colour: #b37872;
    /*========== 
        Animation
    ==========*/
    --ease-in-out-2-sec: .2s ease-in-out;
    --ease-in-out-3-sec: .3s ease-in-out;
    /*========== 
        
    ==========*/
    --std-box-shadow-light: -5px -3px 2px rgba(186,186,182,.8),15px 15px 20px rgba(57,65,124,.08);
    --std-box-shadow-dark: -8px -8px 20px rgba(255,255,255,.04),8px 8px 20px rgba(0,0,0,.35);
    --std-box-shadow-dark-active: -8px -8px 20px rgba(255,255,255,.04),8px 8px 20px rgba(0,0,0,.35);
    --light-box-shadow: 0 2px 12px 0 rgba(0,0,0,.64);
    --display-flex: flex;
    --deisplay-row: row;
    --flex-column: column;
    --flex-row: row;
}

body#app {
    background: var(--black-1) !important;
}


.position-form{
    /* add a top margin of 1% of screen height */
    margin-top: 20px
}

/*-------------------------------------
Page layout
---------------------------------------*/

/** Ignore mobile phone */
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}