

.form-control.disabled {
    background: var(--input-disabled);
    cursor:no-drop;
}

/*
    Validation errors
*/
.text-danger.field-validation-error {
    padding: 16px 8px;
    background: var(--error-colour);
    color: var(--black-1);
    border-radius: 8px;
}


/*-------------------------------------
Mode themes
---------------------------------------*/
@media (prefers-color-scheme: light) {
    .item-line input.form-control{
     border: 1px solid var(--pa-primary-accent-dust);
 }
    .item-line .form-label {
        color: var(--black-1);
    }

}