html,
body {
    margin: 0;
    padding: 0;
}

html,
#app {
    height: 100vh;
}

body, #app {
    font-family: var(--body-font);
    color: #fff;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.add-column,
.add-row{
    display: flex;
}

.add-column {
    flex-direction: column;
}

.add-row{
    flex-direction: row;
}

a:link {
    text-decoration: none;
}

a:visited {
       text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

aside .content-wrap::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}



.main-content {
    /*  grow - by 1, in relation to other flex items.  The flex item can grow when free 
            space is availale.
        shrink - The amout the flex item can shrink, in relation to other flex items, 
            when there is not enough space available
        flex-basis - the basis size the flex item is sized to.
    */
    flex: 1 0 auto;
}

.main-content-inner {
    display: flex;
    height: 100%;
    flex-direction: row;
}

.main-content-inner aside {
    flex: 1 0 300px;
    overflow: hidden;
}

aside .content-wrap {
    height: 100%;
    overflow-y: auto;
    padding: 0.5rem; /* 4px */
    background-color: var(--light-black);
    border-right: 2px solid var(--light-box-shadow);
    display: flex;
    flex-direction:column;
}

.main-content-inner .main-content-wrap {
    width: calc( 100% - 300px);
    display: flex;
    height: 100%;
    padding: 0.5rem;
    flex-direction: column;
    z-index: 8
}


/* Responsive */
@media (max-width: 500px) {
}

.top-nav-wrapper,
.page-content .container {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
}
.page-content {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}


.page-content .container{
    padding: 0.5rem;
    height: 100%;
}

.container .container-header-wrap h3 {
    color: var(--pa-white);
    font-size: 16px;
    margin-bottom: var(--mb-0-75);
}

.footer {
    background-color: violet;
    height: 50px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.footer .footer-wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.footer-wrap lhs{
    width: 300px;
}

/*
    Page Content
*/

.content-column,
.content-row {
    width: 100%;
    display: flex;
    height: 100%
}

.content-row {
    flex-direction: row;
    /* 
        sets whether flex items are forced onto one line or can wrap onto 
        multiple lines. If wrapping is allowed, it sets the direction that 
        lines are stacked. 
    */
    flex-wrap: wrap
}
.content-column{
    flex-direction: column;
}

.column-left,
.column-right {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    height: 100%;
}

.card-outer {
    background: rgba(189,195,199, 0.2);
    border-radius: 8px;
    box-shadow: 0 20px 27px 0 rgba(0,0,0,.05);
}

/*
    <!-- main content navbar / breadcrumb  -->

*/

.top-nav-wrapper {
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    position: sticky;
    position: -webkit-sticky; /* Safari */
    top: 0;
    z-index: 8;
    box-shadow: var(--light-box-shadow);
    background-color: var(--light-black);
    padding: var(--mb-0-5);
    margin-bottom: var(--mb-1);
    margin-top: var(--mb-1);
}

.nav-content {
    display: flex;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: space-between;
}

.nav-content .bread-crumb-wrap,
.nav-content .icon-wrap {
    display: flex;
    align-items: center;
}

.nav-content .icon-wrap {
    gap: 20px;
}

.icon-wrap .notification {
    position: relative;
}

.icon-wrap .notifications-count {
    background: var(--info-colour);
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: -16px;
    right: -16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.nav-content .icon-wrap .user img {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    object-fit: contain;
}

/*
    <!-- main content navbar / breadcrumb  --> ends

*/
/*
    Dialogs
*/
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 100;
}

.overlay-hide{
    display: none!important;
}

.dialog {
    width: 75%;
    margin-top: 4%;
    background-color: var(--black-1);
    color: var(--pa-white);
    border-radius: 8px;
    box-shadow: var(--light-box-shadow);
    padding: 1rem;
   
}

.dialog .dialog-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem; /* 8px */
}

.dialog-title{
    color: var(--pa-white);
    font-size: 16px;
    font-weight: bold;
}

.dialog-close-btn-wrap{}

.dialog .dialog-body {
    padding: 0.5rem; /* 8px*/
    overflow-y: auto;
}

.dialog-body .dialog-column {
    display: flex;
    flex-direction: column;
    min-width: 100%;
}
.dialog-body .dialog-row {
    display: flex;
    flex-direction: row;
    min-height: 100%;
    min-width: 100%;
}

.details-column,
.dialog-row-column{
    flex: 1 1 50%;
    min-height: 40px;
}

.details-column{
    padding-top: 4px;
    flex: 1 1 100%;
}


.close {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

