.table-wrap {
    padding: var(--mb-0-5);
}

.table-wrap table{
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
}

.table-head {
    padding: var(--mb-1-5) 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.24);
}

.table-head .tbl-head-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.tbl-head-inner .table-title {
    font-size: 16px;
    font-weight: bold;
}

.table-wrap table tbody{
    border-style: solid;
    border-width: 0;
}

.std-table thead tr,
.std-table tbody tr {
    text-align: left;
}

.col-sortable {
    color: var(--info-colour);
    transition: color;
}

.col-sortable:hover{
    color: var(--info-colour-hover);
    transition: color var(--ease-in-out-2-sec); 
    cursor: pointer;
}

.std-table tbody tr .center-col {
    text-align: center;
}

.table-wrap table tbody tr {
    padding: 1rem .5rem;
    color: #fff;
}

.table-wrap table tbody tr:nth-child(even){
    background-color: rgba(47, 47, 47, 0.5);  /* --light-black with opacity */
}

.table-wrap table tbody tr td{
    font-size: 12px;
}

.table-wrap table tbody tr td .tbl-img-logo{
    width: 38px;
    height: 38px;
    border-radius: 4px;
}

.pagination-wrap{
    margin: 16px auto;
}
.pagination {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 0;
    padding: 0;
    list-style: none;
    justify-content: center;
    color: var(--pa-white);
}

.pagination .page-item,
.pagination .page-link{
    padding: 8px;
    border-radius: 4px;
}

.page-item{
    cursor: pointer;
}

.page-item.active a,
.page-item a {
    color: var(--pa-white);
}

.page-item.active a{
    background: var(--pa-white);
    padding: 4px 8px;
    border-radius: 4px;
    font-weight: bold;
    color: var(--hightlight-colour);
}

.page-item.disabled,
.page-item.disabled a{
    cursor: not-allowed;
    background: transparent;
    color: var(--input-disabled);
}