.google-map-wrap {
    min-width: 98%;
    padding: 12px;
}

.column-left .inner,
.column-right .inner {
    padding: 8px;
    height: 100%;
    color: var(--pa-white);
}


#google-map-content {
    width: 100%;
    min-height: 500px;
}
