@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,700;9..40,900&display=swap');

:root {
    /*========== 
        Font and typography 
     ==========*/
    --body-font: 'DM Sans', sans-serif;
    --normal-font-size: 1rem; /* 16 px */
    --biggest-font-size: 4rem; /* 64 px */
    --h1-larger-font: 2.875rem; /* 46px */
    --h1-font-size: 2.25rem; /* 36 px */
    --h2-font-size: 1.5rem; /* 24 px */
    --h3-font-size: 1.25rem; /* 20 px */
    --h4-font-size: 1rem; /* 16 px */
    --small-font-size: .875rem; /* 14 px */
    --smaller-font-size: .775rem; /* 12.4 px */
    --letter-spacing-wide: 0.125rem; /* 2px */
    --letter-spacing-narrow: -0.05rem; /* -0.9px */
    /*========== 
        Colours
     ==========*/
    --pa-white: #FAF7F7;
    --pa-primary-colour: #A1D18E;
    --pa-primary-colour-active: #9EE6A6;
    --pa-primary-accent-dust: #CDCCC6;
    --pa-primary-accent-dust-active: #BABAB6;
    --black-1: #303030;
    --black-2: #141516;
    --input-background: #BDC3C7;
    --input-disabled: rgba(255, 205, 2, 0.4);
    --info-colour: #6093AC;
    --info-colour-hover: #537E94;
    --warning-colour: #C0392B;
    --warning-colour-hover: #9e291c;
    --error-colour: #b37872;
    /* backgrounds */
    /*--black-1: #303030;
    --black-2: #141516;
    --light-black: #2f2f2f;
    --grey-colour: #3C3F40;
    --hightlight-colour: #13AE70;
    --hightlight-colour-hover: #13AD3B;
    --pa-white: #E5E5E5;
    --ok-colour: #27AE60;
    --ok-colour-hover: #1c944f;
    --info-colour: #3498DB;
    --info-colour-hover: #2b82bd;
    --warning-colour: #C0392B;
    --warning-colour-hover: #9e291c;
    --error-colour: #965a54;
    --dialog-colour: #7F8C8D;
    --disabled-colour: #f8f8f8;
    --input-background: #E9E9E6;
    --input-disabled: rgba(255, 205, 2, 0.4);*/ /*#FFCD02*/
    /*========== 
        Margins Bottom 
    ==========*/
    --mb-0-5: .5rem; /* 8px */
    --mb-0-75: .75rem; /* 12px */
    --mb-1: 1rem; /* 16px */
    --mb-1-5: 1.5rem; /* 24px */
    --mb-2: 2rem; /* 32px */
    --mb-2-5: 2.5rem; /* 40px */
    --mb-3: 3rem; /* 48px */
    --mb-4: 3.6rem; /* 65px */
    /*========== 
        Animation
    ==========*/
    --ease-in-out-2-sec: .2s ease-in-out;
    --ease-in-out-3-sec: .3s ease-in-out;
    /*========== 
        Box shadows
    ==========*/
    --light-box-shadow: 0 2px 12px 0 rgba(0,0,0,.64);
}

/* 2. Base */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    height: 100%;
    background-color: var(--black-1);
}


html, body {
    font-family: var(--body-font);
}

body {
    font-family: var(--body-font);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    background: var(--black-1);
    font-family: var(--body-font);
    line-height: 1.2;
    min-height: 100%;
}

/*-------------------------------------
Typography
---------------------------------------*/

h1 {
    font-size: var(--h1-font-size);
}

h2 {
    font-size: var(--h2-font-size);
}

h3 {
    font-size: var(--h3-font-size);
}

h4 {
    font-size: var(--h4-font-size);
}

/*-------------------------------------
Main layout
---------------------------------------*/

.main-content {
    /*  grow - by 1, in relation to other flex items.  The flex item can grow when free 
            space is availale.
        shrink - The amout the flex item can shrink, in relation to other flex items, 
            when there is not enough space available
        flex-basis - the basis size the flex item is sized to.
    */
    flex: 1 0 auto;
    border: 1px solid yellow;
}

.main-content-inner {
    display: flex;
    height: 100%;
    flex-direction: row;
    border: 1px solid blue;
}

.main-content, .main-content-inner{
    min-height: 100%;

}

.main-content-inner aside {
    flex: 1 0 300px;
    overflow: hidden;
}

aside .content-wrap {
    height: 100%;
    overflow-y: auto;
    padding: 0.5rem; /* 4px */
    background-color: var(--light-black);
    border-right: 2px solid var(--light-box-shadow);
    display: flex;
    flex-direction:column;
}

.main-content-inner .main-content-wrap {
    width: calc( 100% - 300px);
    display: flex;
    height: 100%;
    padding: 0.5rem;
    flex-direction: column;
    z-index: 8
}

.top-padding-small {
    padding-top: var(--mb-0-75);
}

.disabled {
    background: var(--input-disabled);
    cursor: not-allowed;
}

.text-danger {
    color: var(--error-colour);
    font-size: 16px;
    font-weight: bold;
}

.btn {
    cursor: pointer;
    border-radius: 8px;
    padding: 4px 12px;
    vertical-align: middle;
    font-size: 16px;
    text-align: center;
    line-height: 38px;
    text-decoration: none;
    text-transform: uppercase;
    transition: color,background-color,border-color;
}

.btn-default {
    background-color: transparent;
    border: 1px solid var(--pa-white);
    color: var(--black-1);
}

.btn-primary {
    background-color: var(--info-colour);
    border: 1px solid var(--info-colour);
    color: var(--black-1);
}

.btn-warning {
    background-color: var(--warning-colour);
    border: 1px solid var(--warning-colour);
    color: var(--black-1);
}

.btn-primary:hover {
    background-color: var(--info-colour-hover);
    border: 1px solid var(--info-colour);
    color: var(--black-1);
    transition: background-color var(--ease-in-out-2-sec); 
}

.btn-warning:hover {
    background-color: var(--warning-colour-hover);
    border: 1px solid var(--warning-colour);
    color: var(--black-1);
    transition: background-color var(--ease-in-out-2-sec);
}

.btn-disabled,
.btn-disabled:hover {
    background-color: var(--disabled-colour);
    border: 1px solid #e5e5e5;
    color: #999;
}


.btn-icon span{
    font-size: 24px;
    margin-top: 6px;
    padding: 4px;
}


/* width */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.25);
    border-radius: 12px;
    background: rgba(21, 26, 29, 0.85) /* black-1 rgba() */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--hightlight-colour);
    border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--hightlight-colour-hover); /* highlight colour hover*/
}


/* 
    Breadcrumb

*/
.pa-breadcrumb {
    padding: 4px;
    list-style: none;
    /*
        transition: color,background-color,border-color;
    */
}

.pa-breadcrumb li,
.pa-breadcrumb li a,
.pa-breadcrumb li a .current-page{
    display: inline;
    font-size: 14px;
    color: var(--pa-white);
    font-weight: bold;
    transition: color;
}

.pa-breadcrumb li a:hover {
    color: var(--hightlight-colour-hover);
    text-decoration: none;
    transition: background-color var(--ease-in-out-2-sec);
}


.pa-breadcrumb > :nth-child(n+2):before {
    content: "/";
    display: inline-block;
    margin: 0 12px 0 calc(12px - 8px);
    font-size: 14px;
    color: #999;
}


.pa-breadcrumb li .current-page{
    color: var(--hightlight-colour-hover);
}

/*-------------------------------------
Mode themes
---------------------------------------*/

@media (prefers-color-scheme: light) {
    /* HEADER / NAV */
    html, body {
        color: var(--black-1);
        background: var(--pa-primary-accent-dust);
    }
    .login-img-dark {
        display: none;
    }
    .login-img-light{
        display: inline-block;
        position: relative;
    }

    
    /* BUTTONS */
    .btn {
        box-shadow: 0 20px 27px 0 rgba(0,0,0,.07);
    }

    /* FORMS */



}

/*-------------------------------------
Responsive
---------------------------------------*/

/** Ignore mobile phone */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
   
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    /*-------------------------------------
    Re-useable elements
    ---------------------------------------*/
    .container {
        padding-left: 24px;
        padding-right: 24px;
    }
    /*-------------------------------------
    Pages
    ---------------------------------------*/
    /* Login */
    #login-wrap {
        flex-direction: row;
    }

    #login-wrap .section-small {
        flex: 1 0 50%; /* grow:1, shrink:1, basis: 50 */
        padding: 4px;
    }
}

